/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */





/*-----------------------------------*\
  #VARIABLE
\*-----------------------------------*/

:root {

   /**
    * Colors
    */
 
   --onyx:         hsl(0, 0%, 25%);
   --azure:        hsl(219, 77%, 60%);
   --white:        hsl(0, 0%, 100%);
   --platinum:     hsl(0, 0%, 91%);
   --gainsboro:    hsl(0, 0%, 90%);
   --red-salsa:    hsl(0, 77%, 60%);
   --dim-gray:     hsl(0, 0%, 39%);
   --davys-gray:   hsl(0, 0%, 30%);
   --spanish-gray: hsl(0, 0%, 62%);
   --quick-silver: hsl(0, 0%, 64%);
 
   /**
    * Typography
    */
 
   --fs-28: 28px;
   --fs-24: 24px;
   --fs-18: 18px;
   --fs-15: 15px;
   --fs-14: 14px;
 
   --fw-5: 500;
   --fw-6: 600;
   --fw-7: 700;
 
   /**
    * Others 
    */
 
   --px: 60px;
   --radius: 5px;
 
 }
 
 
 
 
 
 /*-----------------------------------*\
   #RESET
 \*-----------------------------------*/
 
 *, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html { font-family: 'Source Sans 3', sans-serif; }
 
 a {
   color: inherit;
   text-decoration: none;
 }
 
 button {
   border: none;
   background: none;
   font: inherit;
   cursor: pointer;
 }
 
 ion-icon, span { display: inline-block; }
 
 label, img { display: block; }
 
 input {
   font: inherit;
   width: 100%;
   border: none;
 }
 
 input:focus { outline: 2px solid var(--azure); }
 
 /**
  * Remove number input up & down button
  */
 input::-webkit-inner-spin-button,
 input::-webkit-outer-spin-button {
   appearance:         none;
   -webkit-appearance: none;
   margin: 0;
 }
 
 /**
  * Custom scrollbar style
  */
 ::-webkit-scrollbar { width: 8px; }
 
 ::-webkit-scrollbar-track { background: transparent; }
 
 ::-webkit-scrollbar-thumb {
   background: hsl(0, 0%, 80%);
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
 
 
 
 
 
 /*-----------------------------------*\
   #MAIN STYLE
 \*-----------------------------------*/
 
 /**
  * main container 
  */
 
 .container {
   max-width: 1440px;
   min-height: 100vh;
   margin: auto;
   display: flex;
   flex-direction: column;
 }
 
 .heading {
   font-size: var(--fs-28);
   font-weight: var(--fw-6);
   color: var(--onyx);
   border-bottom: 1px solid var(--gainsboro);
   padding: 20px var(--px);
   display:     flex;
   align-items: center;
   gap: 20px;
 }
 
 .heading ion-icon { font-size: 40px; }
 
 .item-flex {
   display: flex;
   flex-grow: 1;
 }
 
 /**
  * checkout section style 
  */
 
 .checkout {
   width: 70%;
   padding: 40px var(--px);
   background: var(--white);
   border-right: 1px solid var(--gainsboro);
 }
 
 .section-heading {
   color: var(--onyx);
   margin-bottom: 30px;
   font-size: var(--fs-24);
   font-weight: var(--fw-5);
 }
 
 .payment-form { margin-bottom: 40px; }
 
 .payment-method {
   display:     flex;
   align-items: center;
   gap: 30px;
   margin-bottom: 40px;
 }
 
 .payment-method .method {
   border: 1px solid var(--quick-silver);
   border-radius: var(--radius);
   width: 50%;
   display:     flex;
   align-items: center;
   padding: 15px 30px;
   gap: 20px;
   cursor: pointer;
 }
 
 .payment-method .selected { border-color: var(--azure); }
 
 .payment-method .method ion-icon { font-size: 20px; }
 
 .payment-method .method .checkmark {
   margin-left: auto;
   color: var(--quick-silver);
 }
 
 .payment-method .method .fill { color: var(--azure); }
 
 .label-default {
   padding-left: 10px;
   margin-bottom: 5px;
   font-size: var(--fs-14);
   color: var(--spanish-gray);
 }
 
 .input-default {
   background: var(--platinum);
   border-radius: var(--radius);
   color: var(--davys-gray);
 }
 
 .payment-form input {
   padding: 10px 15px;
   font-size: var(--fs-18);
   font-weight: var(--fw-5);
 }
 
 .cardholder-name,
 .card-number { margin-bottom: 20px; }
 
 .card-number input,
 .cvv input { letter-spacing: 3px; }
 
 .input-flex {
   display:     flex;
   align-items: center;
   gap: 30px;
 }
 
 .input-flex .expire-date,
 .input-flex .cvv { width: 50%; }
 
 .expire-date .input-flex {
   color: var(--spanish-gray);
   gap: 13px;
 }
 
 .expire-date .input-flex input { text-align: center; }
 
 .btn { border-radius: var(--radius); }
 
 .btn:active { transform: scale(0.99); }
 
 .btn:focus {
   color: var(--white);
   background: var(--azure);
   outline: 2px solid var(--azure);
   outline-offset: 2px;
 }
 
 .btn-primary {
   background: var(--azure);
   font-weight: var(--fw-5);
   color: var(--white);
   padding: 13px 45px;
 }
 
 .btn-primary b { margin-right: 10px; }
 
 
 /**
  * cart section style
  */
 
 .cart {
   width: 40%;
   display:         flex;
   flex-direction:  column;
   justify-content: flex-end;
   padding-top: 60px;
 }
 
 .cart-item-box {
   padding: 40px var(--px);
   margin-bottom: auto;
 }
 
 .product-card:not(:last-child) { margin-bottom: 20px; }
 
 .product-card .card {
   position: relative;
   display:     flex;
   align-items: flex-start;
   gap: 20px;
 }
 
 .card .product-img { border-radius: var(--radius); }
 
 .card .detail .product-name {
   font-weight: var(--fw-6);
   font-size: var(--fs-15);
   color: var(--dim-gray);
   margin-bottom: 10px;
 }
 
 .card .detail .wrapper {
   display: flex;
   gap: 20px;
 }
 
 .product-qty {
   display:     flex;
   align-items: center;
   gap: 10px;
 }
 
 .product-qty button {
   background: var(--platinum);
   width:  20px;
   height: 20px;
   display:         flex;
   justify-content: center;
   align-items:     center;
 }
 
 .product-qty button:active,
 .product-close-btn:active ion-icon { transform: scale(0.95); }
 
 .product-qty button ion-icon {
   --ionicon-stroke-width: 60px;
   font-size: 10px;
 }
 
 .product-close-btn {
   position: absolute;
   top:   0;
   right: 0;
 }
 
 .product-close-btn ion-icon {
   font-size: 25px;
   color: var(--quick-silver);
 }
 
 .product-close-btn:hover ion-icon { color: var(--red-salsa); }
 
 .discount-token {
   padding: 40px var(--px);
   border-top:    1px solid var(--gainsboro);
   border-bottom: 1px solid var(--gainsboro);
 }
 
 .wrapper-flex {
   display:     flex;
   align-items: center;
   gap: 30px;
 }
 
 .wrapper-flex input {
   padding: 12px 15px;
   font-weight: var(--fw-6);
   letter-spacing: 2px;
 }
 
 .btn-outline {
   padding: 10px 25px;
   border: 1px solid var(--azure);
   color: var(--azure);
 }
 
 .btn-outline:hover {
   background: var(--azure);
   color: var(--white);
 }
 
 .amount { padding: 40px var(--px); }
 
 .amount > div {
   display:         flex;
   justify-content: space-between;
 }
 
 .amount > div:not(:last-child) { margin-bottom: 10px; }
 
 .amount .total {
   font-size: var(--fs-18);
   font-weight: var(--fw-7);
   color: var(--onyx);
 }
 
 
 
 
 
 /*-----------------------------------*\
   #RESPONSIVE
 \*-----------------------------------*/
 
 @media (max-width: 1200px) {
 
   .item-flex { flex-direction: column-reverse; }
 
   /**
    * checkout section responsive 
    */
 
   .checkout {
     width: 100%;
     border-right: none;
   }
 
   .btn-primary { width: 100%; }
 
   /**
    * cart section responsive
    */
 
   .cart {
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100%;
     border-bottom: 1px solid var(--gainsboro);
   }
 
   .cart .wrapper { margin-top: auto; }
 
   .cart .cart-item-box {
     border-right: 1px solid var(--gainsboro);
     margin-bottom: 0;
   }
 
   .discount-token { border-top: none; }
 
 }
 
 
 
 
 
 @media (max-width: 768px) {
 
   :root { --px: 40px; }
 
   .cart { grid-template-columns: 1fr; }
 
   .discount-token { border-top: 1px solid var(--gainsboro); }
 
   .wrapper-flex { gap: 20px; }
 
 }
 
 
 
 
 
 @media (max-width: 567px) {
 
   :root { --px: 20px; }
 
   .payment-method,
   .input-flex {
     flex-direction: column;
     gap: 20px;
   }
 
   .payment-method .method { width: 100%; }
 
   .input-flex .expire-date,
   .input-flex .cvv { width: 100%; }
 
   .expire-date .input-flex { flex-direction: row; }
 
 }


 @import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Poppins:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
main{
    color: rgb(11, 11, 11);
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    background-color: black;
    color: white;
    position: fixed !important;
}
.navlinks{
    display: flex;
}
.navlinks li{
    list-style: none;
}
.navlinks a{
text-decoration: none;
}
.navlinks a li{
    margin: 6px;
    height: 60px;
    padding: 18px;
    transition: 0.3s ease-in;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-family: poppins;
}
.navlinks li:hover{
  border-bottom: 2px solid white;
opacity: 0.7;
    color: white;
}
#logo h3{
    padding: 16px;
    font-family: poppins;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.3in;
}
.fa-brands{
    padding: 18px;
    font-size: 23px;
    cursor: pointer;
}
.fa-solid{
    padding: 18px;
    font-size: 23px;
    cursor: pointer;
}
.fa-brands:hover{
    transition: 0.3s ease-in;
   color: white;
   opacity: 0.7;
}

.fa-solid:hover{
    transition: 0.3s ease-in;
    color: white;
    opacity: 0.7;
}
#banner-text{
    font-family: poppins;
    font-weight: 700;
    color: yellow;
}
#hot-selling-h1{
    font-family: 'Raleway', sans-serif ;
    margin-left: 270px;
}
.animate__fadeInLeft{
    animation-duration: 3s;
}
.main-img-container{
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
 }
 .img-container-1 img{
width: 673px;
 }
 .img-container-1 button a{
    text-decoration: none;
    color: white;
 }
 .img-container-1 button{
    font-weight: 500;
    border: none;
    width: 150px;
    background-color: black;
    color: white;
    position: relative;
    top: -200px;
    margin-left: 100px;
    height: 50px;
    border-radius: 15px;
    font-family: poppins;
 }
 .img-container-1 button:hover{
    transition: 0.3s ease-in;
    color: black;
    background-color: grey;
    letter-spacing: 2px;
    font-weight: 900;
 }
 #products-button{
    width: 15rem;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    border: none;
 }
 #products-button:hover{
    transition: 0.3s ease-in;
    color: white;
    background-color: rgb(26, 24, 24);
    word-spacing: 3px;
    font-weight: 800;
 }
 .animate__animated.animate__slideInRight{
   animation-duration: 2s;
 }
 .animate__animated.animate__slideInLeft{
   animation-duration: 2s;
 }
 #product-card-img{
    height: 350px;
 }
 #product-card-img:hover{
   height: 350px;
   transition: 0.5s;
 }
 #product-card-h5{
    color: black;
    font-family: poppins;
    font-weight: 800;
 }
 #product-card-h5:hover{
   transition: 0.5s;
 }
 .card-text{
    font-weight: 600;
    color: black;
 }

 
 .strutco-campaign-hp {
    font-family: 'Abel', sans-serif;
    justify-content: center;
    text-align: center;
 }
 .strutco-campaign-hp h1{
    font-size: 0.4in;
    letter-spacing: 3px;
 }
 .strutco-campaign-hp p{
    font-size: 30px;
    letter-spacing: 2px;
    opacity: 0.8;
 }
 .strutco-campaign-main{
   display: flex;
   margin: 5px;
 }
 .animate__animated.animate__fadeInDown{
   animation-duration: 3s;
 }
 .animate__animated.animate__fadeIn{
   animation-duration: 3s;
 }
 .stm1-description{
   font-family: poppins;
   margin: 10px;
 }
 .stm1-description img{
   border-radius: 3px;
   width: 800px;
   height: 370px;
 }
 .stm-1 img{
   border-radius: 3px;
   width: 500px;
   height: 600px;
 }
 .structo-main-video video{
   width: 100%;
 }

 
 #structo-icons-h1{
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
 }
 .animate__animated.animate__zoomIn{
   animation-duration: 2s;
 }
 .structo-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .structo-icons img{
    height: 400px;
    width: 300px;
 }
 .animate__animated.animate__fadeInUp{
   animation-duration: 3s;
 }
 .animate__animated.animate__fadeInUpBig{
   animation-duration: 4s;
 }
 #shop-now-button a{
text-decoration: none;
color: white;
 }
 #shop-now-button{
    background: none;
    border: 2px solid white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    justify-content: center;
    margin-left: 60px;
 }
 #shop-now-button:hover{
    background-color: grey;
    font-weight: 400;
 }
 .footer2{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.footer2 ul li{
    list-style: none;
    line-height: 40px;
    font-size: 15px !important;
}
.footer2 ul li:hover{
cursor: pointer;
font-weight: 700;
text-decoration: underline;
font-size: 15px !important;

}
 body {
   font-family: 'Poppins', sans-serif;
 }
 
 .navbar {
   display: flex;
   align-items: center;
   padding: 20px;
   z-index: 1000;
 }
 
 nav {
   flex: 15;
   text-align: right;
   padding: 0;
 }
 
 nav ul {
   display: inline-block;
   list-style-type: none;
 }
 
 nav ul li {
   display: inline-block;
   margin-right: 20px;
 }
 
 a {
   text-decoration: none;
   color: #555;
 }
 
 p {
   color: #555;
 }
 
 .container {
   max-width: 1300px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
 }
 
 .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   height: 490px;
   justify-content: space-around;
 
 }
 
 .col-2 {
   flex-basis: 50%;
   min-width: 300px;
 }
 
 .col-2 img {
  max-width: 58%;
  padding: 49px;
  margin-top: 5px;
  margin-left: 300px;
  border-radius: 75px !important;
}
 
 .col-2 h1 {
   font-size: 50px;
   line-height: 60px;
   margin: 25px 0;
 }
 
 .btn {
   display: inline-block;
   background-color: #ff523b;
   color: #fff;
   padding: 8px 30px;
   margin: 30px 0;
   border-radius: 30px;
   transition: background 0.5s;
 }
 
 .btn:hover {
   background: #563434;
 }
 
 .header {
   background: radial-gradient(#fff, #ffd6d6);
 }
 
 .header .row {
   margin-top: 70px;
 }
 
 .Categories {
   margin: 70px 0;
 }
 
 .col-3 {
   flex-basis: 30%;
   min-width: 250px;
   margin-bottom: 30px;
 }
 
 .col-3 img {
   width: 100%;
 }
 
 .small-container {
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
 }
 
 .col-4 {
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
   transition: transform 0.5s;
 }
 
 .col-4 img {
   width: 100%;
 }
 
 .title {
   text-align: center;
   margin: 0 auto 80px;
   position: relative;
   line-height: 60px;
   color: #555;
 }
 
 .title::after {
   content: '';
   background: #8a1707;
   width: 80px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
 }
 
 h4 {
   color: #555;
   font-weight: normal;
 }
 
 .col-4 p {
   font-size: 14px;
 }
 
 .rating .fa {
   color: #ff523b;
 }
 
 .col-4:hover {
   transform: translateY(-5px);
 }
 
 .offer {
   background: radial-gradient(#fff, #ffd6d6);
   margin-top: 80px;
   padding: 30px 0;
 }
 
 .col-2 .offer-img {
   padding: 50px;
 }
 
 .small {
   color: #555;
 }
 
 .testimonial {
   padding-top: 100px;
 }
 
 .testimonial .col-3 {
   text-align: center;
   padding: 40px 20px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: transform 0.5s;
 }
 
 .testimonial .col-3 img {
   width: 50px;
   margin-top: 20px;
   border-radius: 50%;
 }
 
 .testimonial .col-3:hover {
   transform: translateY(-10px);
 }
 
 .fa.fa-quote-left {
   font-size: 34px;
   color: #ff523b;
 }
 
 .col-3 p {
   font-size: 12px;
   margin: 12px 0;
   color: #777;
 }
 
 .testimonial .col-3 h3 {
   font-weight: 600;
   color: #555;
   font-size: 16px;
 }
 
 .brand {
   margin: 100px auto;
 }
 
 .col-5 {
   width: 160px;
 }
 
 .col-5 img {
   width: 100%;
   cursor: pointer;
   filter: grayscale(100%);
 }
 
 .col-5 img:hover {
   filter: grayscale(0);
 }
 
 .footer {
   background: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
 }
 
 .footer p {
   color: #8a8a8a;
 }
 
 .footer h3 {
   color: #fff;
   margin-bottom: 20px;
 }
 
 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
   max-width: 250px;
   margin-bottom: 20px;
 }
 
 .footer-col-1 {
 
 
   padding-top: 40px;
   padding-left: opx;
   padding-right: 0px;
   padding-bottom: 40px;
 }
 
 .footer-col-2 {
   flex: 1px;
   text-align: center;
 }
 
 .footer-col-2 img {
   width: 120px;
   height: 100px;
   margin-bottom: 10px;
 }
 
 .footer-col-3, .footer-col-4 {
   flex-basis: 12%;
   text-align: center;
 }
 
 ul {
   list-style-type: none;
 }
 
 .app-logo {
   margin-top: 20px;
 }
 
 .app-logo img {
   width: 120px;
 }
 
 .footer hr {
   border: none;
   background: #b5b5b5;
   height: 1px;
   margin: 20px 0;
 }
 
 .Copyright {
   text-align: center;
 }
 
 .menu-icon {
   width: 28px;
   margin-left: 20px;
   display: none;
 }
 
 
 @media only screen and (max-width:800px) {
   nav ul {
     position: absolute;
     top: 70px;
     left: 0;
     background: #333;
     width: 100%;
     overflow: hidden;
     transition: max-height 0.5s;
   }
 
   nav ul li {
     display: block;
     margin-right: 50px;
     margin-top: 10px;
     margin-bottom: 10px;
   }
 
   nav ul li a {
     color: #fff;
   }
 
   .menu-icon {
     display: block;
     cursor: pointer;
   }
 }
 
 
 .row-2 {
   justify-content: space-between;
   margin: 100px auto 50px;
 }
 
 select {
   border: 1px solid #0000FF;
   padding: 5px;
 }
 
 select:focus {
   outline: none;
 }
 
 .page-btn {
   margin: 0 auto 80px;
 }
 
 .page-btn span {
   display: inline-block;
   border: 1px solid #ff523b;
   margin-left: 10px;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   cursor: pointer;
 }
 
 .page-btn span:hover {
   background: #ff523b;
   color: #fff;
 }
 
 
 .single-product {
   margin-top: 80px;
 }
 
 .single-product .col-2 img {
   padding: 0;
 }
 
 .single-product .col-2 {
   padding: 20px;
 }
 
 .single-product h4 {
   margin: 20px 0;
   font-size: 22px;
   font-weight: bold;
 }
 
 .single-product select {
   display: block;
   padding: 10px;
   margin-top: 20px;
 }
 
 .single-product input {
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 20px;
   margin-right: 10px;
   border: 1px solid #ff523b;
 }
 
 input:focus {
   outline: none;
 }
 
 .single-product .fa {
   color: #ff523b;
   margin-left: 10px;
 }
 
 .small-img-row {
   display: flex;
   justify-content: space-between;
 }
 
 .small-img-col {
   flex-basis: 24%;
   cursor: pointer;
 }
 
 .cart-page {
   margin: 80px auto;
 }
 
 table {
   width: 100%;
   border-collapse: collapse;
 }
 
 .cart-info {
   display: flex;
   flex-wrap: wrap;
 }
 
 th {
   text-align: left;
   padding: 5px;
   color: #fff;
   background: #ff523b;
   font-weight: normal;
 }
 
 td {
   padding: 10px 5px;
 }
 
 td input {
   width: 40px;
   height: 30px;
   padding: 5px;
 }
 
 td a {
   color: #ff523b;
   font-size: 12px;
 }
 
 td img {
   width: 80px;
   height: 80px;
   margin-right: 10px;
 }
 
 .total-price {
   display: flex;
   justify-content: flex-end;
 }
 .total-price table{
   border-top: 3px solid #ff523b;
   width: 100%;
   max-width: 400px;
 }
 td:last-child{
   text-align: right;
 }
 th:last-child{
   text-align: right;
 }
 
 
 .account-page{
   padding: 50px;
   height: 720px;
   background: radial-gradient(#d0b7b7, #9c9090);
    
 }
 
 .form-container{
   background: #fff;
   width: 300px;
   height: 400px;
   position: relative;
   text-align: center;
   padding: 20px 0;
   margin-top: 5px !important;
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
   overflow: hidden;
   border-radius: 25px;
 }
 .form-container span{
   font-weight: bold;
   padding: 0 10px;
   color: #555;
   cursor: pointer;
   width: 100px;
   display: inline-block;
 }
 .form-btn{
   display: inline-block;
 }
 .form-container form{
   max-width: 300px;
   padding: 0 20px;
   position: absolute;
   top: 130px;
   transition: transform 1s;
 }
 form input{
   width: 100%;
   height: 30px;
   margin: 10px 0;
   padding: 0 10px;
   border: 1px solid #ccc;
 }
 form .btn{
   width: 100%;
   border: none;
   cursor: pointer;
   margin: 10px 0;
 }
 form .btn:focus{
   outline: none;
 }
 #LoginForm{
   left: -300px;
 }
 #RegForm{
   left: 0;
 }
 form a{
   font-size: 12px;
 }
 #Indicator{
   width: 100px;
   border: none;
   background: #ff523b;
   height: 3px;
   margin-top: 8px;
   transform: translateX(100px);
   transition: transform 1s;
 }
 
 @media only screen and (max-width: 600px) {
   .row {
     text-align: center;
   }
 
   .col-2, .col-3, .col-4 {
     flex-basis: 100%;
   }
 
   .single-product .row {
     text-align: left;
   }
 
   .single-product .col-2 {
     padding: 20px 0;
   }
 
   .single-product h1 {
     font-size: 26px;
     line-height: 32px;
   }
   .cart-info p {
     display: none;
   }
 }

